
.container h1 {
    margin-top: 20px;
    text-align: center;
}

.nav-pills {
    width: 220px;
    margin: 0 auto;
}

.states-list {
	columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
  list-style: none;
    width: 450px;
    margin: 25px auto 10px auto;
}

.states-list li {
    padding: 5px 0;
    font-size: 18px;
}

#city-list li {
    cursor: pointer;
}

/* pagination CSS */

ul.simplePagerNav li{
    display:block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
    font-family: georgia;
    font-size:14px;
}

ul.simplePagerNav li a{
    color: #333;
    text-decoration: none;
}

li.currentPage {
    background: red;
    background: #FF9500;
}

ul.simplePagerNav li.currentPage a {
    color: #fff;
}


/** user list **/
.user-page {
    margin-top: 25px;
}

#visit-list {
    margin-top: 30px;
}

.users {
    height: 600px;
    overflow-y: scroll;
}